<div class="Burger">
    <div class="Hamburger_menu">
  
      <div class="line line1 change"></div>
      <div class="line line2 change"></div>
      <div class="line line3 "></div>
  
  </div>
  </div>