
<footer>

    <div class="Text_Footer" id="Text_Footer">

        <h2>
            <span>trashnothing - the </span> most customizable eCommerce platform<span> for building</span> your online business.
        </h2>

        <h3>Regisrtiere Dich</h3>

    </div>

    <section class="Footer_Section">

        <img class="Ring_Foto" src="assets/img/Ellipse35.png" alt="">

        <div class="Footer_Scloss">
       <figure class="Figure_Footer">
           <img src="assets/img/Union.png" alt="">
           <figcaption>
               <h3> <span>Support</span> teams across the world</h3>
           </figcaption>
       </figure>

       <figure class="Figure_Footer">
        <img src="assets/img/Union (1).png" alt="">
        <figcaption>
            <h3> <span>Safe & Secure</span>  online payment</h3>
        </figcaption>
       </figure>
        </div>
        

        <article class="Article_Footer">
        <div>
            <h2>Who we Are</h2>
            <ul>
                <li><a href="#">About  </a></li>
                <li><a href="#">Team </a></li>
                <li><a href="#">Work With Us</a></li>
                
            </ul>
        </div>

        <div>
            <h2>Other products</h2>
            <ul>
                <li><a href="#">Storefront </a></li>
                <li><a href="#">WooSlider</a></li>
                <li><a href="#">Sensei</a></li>
                <li><a href="#">Sensei Extensions</a></li>
            </ul>
        </div>

        <div>
            <h2>Support</h2>
            <ul>
                <li><a href="#">Documentation
                    
                    
                    
                    </a></li>
                <li><a href="#">Customizations</a></li>
                <li><a href="#">Support Policy</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">COVID-19 Resources</a></li>
                <li><a href="#">
                    Privacy Notice for <br>
                    California Users
                </a></li>
                
            </ul>
        </div>

    </article>


    </section>

    
</footer>

<%- include('./footericons') %>


