<footer>

    <div class="Text_Footer" id="Text_Footer">

        <h2>
            <span>trashnothing - die </span> anpassbarste E-Commerce-Plattform<span> für den Aufbau </span> Ihres Online - Geschäfts.
        </h2>

        <h3><a href="/auth/login"> Regisrtiere Dich </a></h3>

    </div>

    <section class=" Footer_Section">

                <img class="Ring_Foto" src="assets/img/Ellipse35.png" alt="">

                <div class="Footer_Scloss">
                    <figure class="Figure_Footer">
                        <img src="assets/img/Union.png" alt="">
                        <figcaption>
                            <h3> <span>Unterstütze</span>  Teams auf der ganzen Welt</h3>
                        </figcaption>
                    </figure>

                    <figure class="Figure_Footer">
                        <img src="assets/img/Union (1).png" alt="">
                        <figcaption>
                            <h3> <span>Schutz & Sicherheit</span>    der Onlinebezahlung</h3>
                        </figcaption>
                    </figure>
                </div>
                


                <article class="Article_Footer">
                    <div>
                        <h2>Über Uns
                        </h2>
                        <ul>
                            <li><a href="#">Info </a></li>
                            <li><a href="#">Team </a></li>
                            <li><a href="#">Arbeite mit uns</a></li>

                        </ul>
                    </div>

                    <div>
                        <h2>Andere Produkte</h2>
                        <ul>
                            <li><a href="#">Schaufenster </a></li>
                            <li><a href="#">Nothingtotrash Slider</a></li>
                            <li><a href="#">Sensei</a></li>
                            <li><a href="#">Sensei Erweiterungen</a></li>
                        </ul>
                    </div>

                    <div>
                        <h2>Support</h2>
                        <ul>
                            <li><a href="#">Dokumentation</a></li>
                            <li><a href="#">Anpassungen</a></li>
                            <li><a href="#">Support-Richtlinie</a></li>
                            <li><a href="#">Kontakt</a></li>
                            <li><a href="#">COVID-19 Ressourcen</a></li>
                            <li><a href="#">
                                DSGVO
                                </a></li>

                        </ul>
                    </div>

                </article>


                </section>


</footer>

<%- include('./footericons') %>
