<div class="Footer_icons">
    
   <ul>
       <li><a href="#"><img src="assets/img/twitter.png" alt=""> </a></li>

       <li> <a href="#"><img src="assets/img/facebook.png" alt=""> </a></li>

       <li> <a href="#"><img src="assets/img/wiwi.png" alt=""> </a></li>

       <li> <a href="#"><img src="assets/img/insta.png" alt=""> </a></li>

   </ul>

    <h4>COPYRIGHT trashnothing 2021 - <span>TERMS & CONDITIONS  PRIVACY POLICY </span> </h4>
</div>

</body>

</html>