<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>
        Document
    </title>
</head>

<body>


    <header class="header_home">
        <%- include('./nav') %>


            <section class="Header_Section">
                <div class="Header_Section_Div">

                    <h1>Hilf mit die Umwelt zu schützen und nothingtotrash.</h1>

                    <p>Abfälle bedrohen Vögel, Delfine und Co. Mehr als zehn Millionen Tonnen Abfälle gelangen jährlich
                        in die Ozeane.

                        Sie kosten Abertausende Meerestiere das Leben. Seevögel verwechseln Plastik mit natürlicher
                        Nahrung,

                        <br>
                        Delfine verfangen sich in alten Fischernetzen. Hilf mit Müll zu reduzieren und trashnothing.
                    </p>

                    <button>Start a nothingtotrash</button>

                </div>
                <img src="assets/img/main.png" alt="">
            </section>

            <h1 class="H1_Header_Home">Lebe eCommerce
                <br>
                mal anders
            </h1>


    </header>