<link rel="stylesheet" href="/assets/css/style.css">

<nav class="Navigation">
  <a href="/"> <img class="logo_nothing" src="/assets/img/Group85.png" alt=""></a>

  <div class="NavBar nav-active">
    <ul class="Ul_Nav">
      <li><a href="/marktplatz">Marktplatz</a></li>
      <li><a href="/auth/login">Community</a></li>
      <li><a href="/ueber">Über Uns</a></li>
      <li><a href="/resources">Ressourcen</a></li>
      <li><a class="Registriere_Nav2" href="/auth/login">Registriere Dich</a></li>
    </ul>


  </div>

  <div class="Div_LogIn">

    <a class="Registriere_Nav" href="/auth/login">Registriere Dich</a>


  </div>

  <%- include('./burgermenu') %>

</nav>