
<nav class="Navigation" >


    <a href="/"> <img src="assets/img/Group85.png" alt=""></a>


     <div class="NavBar">

   
    
    <ul class="Ul_Nav">

        <li ><a href="/marktplatz">Marktplatz</a></li>
    
        <li ><a href="/community">Community</a></li>

       
    
        <li ><a href="/ueber">Über Uns</a></li>
    
        <li ><a href="/resources">Resources</a></li>
    
     
    </ul>

      <div class="Div_LogIn">
          
        <a class="Login_Nav" href="/community">Log In</a>
    
        <a class="Registriere_Nav" href="/community">  Registriere Dich </a>
    
      </div>

    </div>
     
 
    
    </nav>