<nav class="Navigation">
  <a href="/"> <img class="logo_nothing" src="/assets/img/Group85.png" alt=""></a>
 
  <div class="NavBar">
    <ul class="Ul_Nav">
      <li><a href="/marktplatz">Marktplatz</a></li>
      <li><a href="/auth/login">Community</a></li>
      <li><a href="/ueber">Über Uns</a></li>
      <li><a href="/resources">Ressourcen</a></li>
    </ul>

   
  </div>
  
  <div class="Div_LogIn">

    <a class="Registriere_Nav" href="/auth/login">Registriere Dich</a>

  
  </div>

  <%- include('./burgermenu') %>

</nav>

