<section class="section-nav">
    <nav>
        <ul>
            <li><a href="/">Marktplatz</a></li>
            <li><a href="">Community</a></li>
            <li><a href="">Über Uns</a></li>
            <li><a href="">Resources</a></li>
        </ul>
    </nav>
    <ul>



        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</section>