<nav class="Navigation">
  <a href="/"> <img src="/assets/img/Group85.png" alt=""></a>
  <div class="NavBar">
    <ul class="Ul_Nav">
      <li><a href="/marktplatz">Marktplatz</a></li>
      <li><a href="/auth/login">Community</a></li>
      <li><a href="/ueber">Über Uns</a></li>
      <li><a href="/resources">Resources</a></li>
    </ul>
    <div class="Div_LogIn">

      <a class="Registriere_Nav" href="/auth/login">Registriere Dich</a>
      <a class="Login_Nav" href="/auth/login">Log In</a>

      <!-- <a href="/auth/logout">Logout</a> -->
      <!-- <a class="Login_Nav" href="/community">Log In</a>
    
        <a  href="/community">  Registriere Dich </a> -->

    </div>

  </div>



</nav>