<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/style.css">
  <title>
    Document
  </title>
</head>

<body>
  <nav class="Navigation">
    <a href="/"> <img class="logo_nothing" src="/assets/img/Group85.png" alt=""></a>
    <div class="NavBar">
      <ul class="Ul_Nav Ul_NavPrf">
        <li><a href="/marktplatz">Marktplatz</a></li>
        <li><a href="/auth/login">Community</a></li>
        <li><a href="/ueber">Über Uns</a></li>
        <li><a href="/resources">Ressourceen</a></li>
      </ul>
    </div>
    <div class="div-login-logout">
      <article class="article-login-logout">
        <h3>
          <%= newItems1.userName %>
        </h3>

        <img src="<%= newItems1.url_picture %>" alt="">
      </article>
      <a href="/auth/logout">Ausloggen</a>
    </div>
  </nav>