<%- include('./partials/header') %>

<main>

    <section class="First_Home_Section">
        
            <figure class="figure_Home_Alles">

            <img  src="./assets/img/Group86.png" alt=""></img>
    
            <figcaption class="figcaption_Home_Alles">

                <h1>Alles was du brauchst zum Start  </h1>

                <p>Add WooCommerce plugin to any WordPress site and set up a new store in minutes.</p>

                <h5>Ecommerce for Wordpress ›</h5>


    
            </figcaption>
            </figure >
    
            <figure class="figure_Home_Verschenke">

            <img  src="./assets/img/angle224.png" alt=""></img>
            
            <figcaption class="figcaption_Home_Verschenke">

                <h1>Verschenke und Schütze</h1>
                <p>From subscriptions to gym classes to luxury cars, WooCommerce is fully customizable.</p>

                <h5>Browse Extensions ›</h5>
               
    
            </figcaption>
            </figure >
    
            <figure class="figure_Home_Umwelt">

            <img src="./assets/img/Group87.png" alt=""></img>
            
            <figcaption class="figcaption_Home_Umwelt">

                <h1> Der Umwelt zuliebe</h1>


                <p>WooCommerce is one of the fastest-growing eCommerce communities. </p>

                <h5>Check our Forums ›</h5>

    
            </figcaption>

            </figure>
    </section>



    <section class="Second_Home_Section">
        
        <article class="First_Article_violet">

            <img class="First_punkt_foto" src="assets/img/punkt1.png" alt="">

            <img class="girl_foto" src="assets/img/Group88.png" alt="">

            <div class="Text_Develop">

               

                <h1>Develop <br>
                 Without Limits</h1>

                <p>WooCommerce is developer friendly, too. Built with a REST API, WooCommerce is scalable and can integrate with virtually any service. Design a complex store from scratch, extend a store for a client, or simply add a single product to a  WordPress site—your store, your way.</p>  

                <button>Read the  Documentation</button>
            </div>
        </article>


        <article  class="Second_Article_violet"> 

            <div class="Text_Know">

                <h1>Know our <br>
                 Global Community</h1>

                 <p>WooCommerce is one of the fastest-growing eCommerce communities. We’re proud that the helpfulness of the community and a wealth of online resources are frequently cited as reasons our users love it. There are 80+ meetups worldwide!</p>

                 <button>Read the  Documentation</button>

               
            </div>




            <img class="Young_Foto" src="assets/img/Group89.png" alt="">

            <img class="Second_punkt_foto" src="assets/img/Group 8.png" alt="">
        </article>

        

        

    </section>


    <section class="Third_Home_Section">
        <div class="Text_Supported">

            <h1>Supported by real people</h1>

            <p>Our team of Happiness Engineers works remotely from 58 countries providing <br> customer support across multiple time zones.</p>


        </div>

        
        <img class="People_Foto" src="assets/img/Screenshot.png" alt="">
    </section>





</main>




    <%- include('./partials/footer') %>