<%- include('./partials/header') %>

<main>

    <section class="First_Home_Section">
        
            <figure class="figure_Home_Alles">

            <img  src="./assets/img/Group86.png" alt=""></img>
    
            <figcaption class="figcaption_Home_Alles">

                <h1>Alles was du brauchst zum Start  </h1>

                <p>Add WooCommerce plugin to any WordPress site and set up a new store in minutes.</p>

                <h5>Ecommerce for Wordpress ›</h5>


    
            </figcaption>
            </figure >
    
            <figure class="figure_Home_Verschenke">

            <img  src="./assets/img/angle224.png" alt=""></img>
            
            <figcaption class="figcaption_Home_Verschenke">

                <h1>Verschenke und Schütze</h1>

                <p>From subscriptions to gym classes to luxury cars, WooCommerce is fully customizable.</p>

                <h5>Browse Extensions ›</h5>
               
    
            </figcaption>
            </figure >
    
            <figure class="figure_Home_Umwelt">

            <img src="./assets/img/Group87.png" alt=""></img>
            
            <figcaption class="figcaption_Home_Umwelt">

                <h1> Der Umwelt zuliebe</h1>


                <p>WooCommerce is one of the fastest-growing eCommerce communities. </p>

                <h5>Check our Forums ›</h5>

    
            </figcaption>

            </figure>
    </section>



    <section class="Second_Home_Section">
        
        <article>

        </article>


        <article>

        </article>

    </section>





</main>




    <%- include('./partials/footer') %>