<%- include('./partials/header') %>

    <!-- <main>

    <section class="First_Home_Section">
        
            <figure class="figure_Home_Alles">

            <img  src="./assets/img/Group86.png" alt=""></img>
    
            <figcaption class="figcaption_Home_Alles">

                <h1>Alles was du brauchst zum Start  </h1>

                <p>Fügen Sie Nothingtotrash-Plugins zu jeder Wordpress-Site hinzu und richten Sie in wenigen Minuten einen neuen Store ein.</p>

                <h5>Ecommerce für Wordpress ›</h5>


    
            </figcaption>
            </figure >
    
            <figure class="figure_Home_Verschenke">

            <img  src="./assets/img/angle224.png" alt=""></img>
            
            <figcaption class="figcaption_Home_Verschenke">

                <h1>Verschenke und Schütze</h1>
              <p>Von Abonnements über Fitnesskurse bis hin zu Luxusautos ist Nothingtotrash vollständig anpassbar.</p>

                <h5>Erweiterungen durchsuchen ›</h5>
               
    
            </figcaption>
            </figure >
    
            <figure class="figure_Home_Umwelt">

            <img src="./assets/img/Group87.png" alt=""></img>
            
            <figcaption class="figcaption_Home_Umwelt">

                <h1> Der Umwelt zuliebe</h1>


                <p>Nothingtotrash ist eine der am schnellsten wachsenden E-Commerce-Communities. </p>

                <h5>Überprüfen Sie unsere Foren ›</h5>

    
            </figcaption>

            </figure>
    </section>



    <section class="Second_Home_Section">
        
        <article class="First_Article_violet">

            <img class="First_punkt_foto" src="assets/img/punkt1.png" alt="">

            <img class="girl_foto" src="assets/img/Group88.png" alt="">

            <div class="Text_Develop">

               

                <h1>Ohne  Grenzen<br>
                     entwickeln</h1>

                <p>Nothingtotrash ist auch entwicklerfreundlich.  Nothingtotrash wurde mit einer REST-API erstellt und ist skalierbar und kann in praktisch jeden Service integriert werden.  Entwerfen Sie ein komplexes Geschäft von Grund auf neu, erweitern Sie ein Geschäft für einen Kunden oder fügen Sie einfach ein einzelnes Produkt zu einer WordPress-Site hinzu - Ihr Geschäft nach Ihren Wünschen.</p>  

                <button>Lesen Sie die Dokumentation</button>
            </div>
        </article>


        <article  class="Second_Article_violet"> 

            <div class="Text_Know">

                <h1>Kennen Sie unsere<br>
                      globale Gemeinschaft</h1>

                 <p>Nothingtotrash ist eine der am schnellsten wachsenden E-Commerce-Communities.  Wir sind stolz darauf, dass die Hilfsbereitschaft der Community und eine Fülle von Online-Ressourcen häufig als Gründe dafür angeführt werden, dass Benutzer sie lieben.  Es gibt weltweit über 80 Meetups!</p>

                 <button>Lesen Sie die Dokumentation</button>

               
            </div>




            <img class="Young_Foto" src="assets/img/Group89.png" alt="">

            <img class="Second_punkt_foto" src="assets/img/Group 8.png" alt="">
        </article>

        

        

    </section>


    <section class="Third_Home_Section">
        <div class="Text_Supported">

            <h1>Unterstützt von echten Menschen</h1>

            <p>Unser Team von zufriedenen Ingenieuren arbeitet aus 58 Ländern <br> und bietet Kundenunterstützung in mehreren Zeitzonen..</p>


        </div>

        
        <img class="People_Foto" src="assets/img/Screenshot.png" alt="">
    </section>





</main>
 -->



    <%- include('./partials/footer') %>