@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

/* font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

/* _______________Navigation_______________ */
.logo_nothing {
  height: 5vh;
  width: 30vh;
}
.Navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  margin-left: 2.5%;
  height: 10vh;
}

.NavBar {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}
.Ul_Nav {
  display: flex;
  justify-content: space-between;
  width: 65%;
  padding-top: 26px;
}
.Div_LogIn {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-top: 10px;
}
.Login_Nav {
  padding-top: 13px;
  color: #272d4e;
  font-size: 18px;
}
.Registriere_Nav {
  margin-left: 40%;
  background: #7854f7;
  padding: 14px 12px;
  height: 2vh;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
}

.Ul_Nav a {
  color: #272d4e;
  font-size: 18px;
}

.NavBar li {
  list-style: none;
}
.div-login-logout {
  width: 20%;
}
.article-login-logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;

  width: 80%;
}
.article-login-logout img {
  clip-path: circle();
  width: 30%;
}
.div-login-logout a {
  margin-left: 10%;
  border-radius: 10px;
  padding: 10px 35px;
  border: 1px solid #1a88ee;
  color: #fff;
  background: #1a88ee;
}
@media only screen and (max-width: 1535px) {
  .Registriere_Nav {
    margin-left: -5%;
  }
}
/* _________Navprofile________________ */
.Name_user {
  font-size: 1.5em;
  padding-top: 2px;
  margin-bottom: 10px;
  color: #5f37ef;
}
.logout {
  border: 2px solid #5f37ef;
  padding: 5px 20px 20px;
  border-radius: 10px;
  color: #fff;
  background: #5f37ef;
}
.NavGoogle {
  width: 60%;
}
.img_user {
  border-radius: 50%;
}
.Ul_NavPrf {
  display: flex;
  justify-content: space-around;
  width: 68%;
  padding-top: 26px;
}
.Nav_profile {
  border-bottom: 1px solid #5f37ef;
  padding-bottom: 8em;
  margin: 0 60px;
}

/* _____________header________ */

.header_home {
  background: url(../img/bg_gradient.png) center / cover no-repeat;
  height: 120vh;
}

.Header_Section {
  display: flex;
  justify-content: space-between;
}

.Header_Section h1 {
  font-size: 85px;
  color: #272d4e;
  width: 130%;
  margin-top: 20%;
}

.Header_Section p {
  font-size: 18px;
  color: #94a2b3;
  width: 142%;
  line-height: 1.5;
  margin-top: 8%;
}

.Header_Section button {
  margin-top: 6%;
  font-size: 18px;
  background: #7854f7;
  border-radius: 60px;
  color: #fff;
  padding: 3% 7%;
  border: none;
}

.Header_Section_Div {
  margin-left: 10%;
  margin-top: 8%;
}
.H1_Header_Home {
  margin-top: -5%;
  font-size: 55px;
  text-align: center;
}

/* _____________HeaderMarkt________ */

.HeaderMarkt_Section_Div {
  text-align: center;
}
.HeaderMarkt_Section_Div h1 {
  font-size: 85px;
  color: #272d4e;
}
.HeaderMarkt_Section_Div p {
  font-size: 18px;
  color: #94a2b3;
  margin-top: 3%;
  line-height: 1.5;
}
.Div_Form {
  background: #fff;
  padding-top: 2%;
  margin-top: 8%;
  height: 7vh;
}

#AusWahl_Kategorie {
  border: none;
  height: 4vh;
  background: #f9f9f9;
  color: #272d4e;
  margin-left: 3%;
  font-size: 1.2em;
}
#Form_Marktplatz {
  border: 1px solid #d1d1d1;
  background: #f9f9f9;
  width: 40%;
  border-radius: 60px;
  margin-left: 30%;
}
.Input_Markt {
  border: none;
  background: #f9f9f9;
  height: 3.4vh;
  margin-left: 28px;
  width: 36%;
  font-size: 1.2em;
}
.Input_Search {
  background: #272d4e;
  color: #fff;
  height: 3vh;
  border-radius: 20px;
}

/* _________________Home________________ */

/* First_Home_Section____ */

.First_Home_Section {
  display: flex;
  justify-content: space-around;
  margin: 0 2%;
}
.First_Home_Section img {
  height: 36vh;
}
.First_Home_Section h1 {
  font-size: 38px;
  color: #272d4e;
}
.First_Home_Section p {
  font-size: 20px;
  width: 80%;
  color: #94a2b3;
  line-height: 1.6;
  margin-top: 5%;
}
.First_Home_Section h5 {
  font-size: 22px;
  color: #299ef3;
  margin-top: 5%;
}

.First_Home_Section figcaption {
  margin-left: 3em;
}

.figure_Home_Verschenke {
  margin-top: 3%;
}
.figure_Home_Alles {
  margin-left: 4%;
}

.figure_Home_Umwelt {
  margin-right: 5%;
}
.figure_Home_Umwelt img {
  height: 46vh;
}

.figcaption_Home_Alles p {
  margin-left: 15%;
}
.figcaption_Home_Alles h5 {
  margin-left: 15%;
}

/* Second_Home_Section____ */

.Second_Home_Section {
  background: url(../img/Rectangle234.png) center / cover no-repeat;
  height: 112vh;
  margin-top: 15%;
}
.First_Article_violet {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.First_punkt_foto {
  position: absolute;
  left: 8%;
  top: 65%;
  height: 50vh;
}

.girl_foto {
  height: 65vh;
  margin: -4% 4% 0 13%;
  position: relative;
}

.First_Article_violet h1 {
  color: #fff;
  font-size: 46px;
  padding-top: 13%;
}

.First_Article_violet p {
  color: #fff;
  width: 47%;
  font-size: 18px;
  margin-top: 4%;
  line-height: 1.4;
}
.First_Article_violet button {
  background: #70c217;
  color: #fff;
  border: none;
  padding: 2% 5%;
  border-radius: 60px;
  margin-top: 6%;
}

.Second_Article_violet {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.Young_Foto {
  height: 65vh;
  z-index: 3;
  position: relative;
  margin-right: 6%;
  margin-top: -2%;
}

.Second_punkt_foto {
  height: 27vh;
  position: absolute;
  right: 4%;
  top: 15%;
}
.Text_Know {
  margin-left: 30%;
  margin-top: -6%;
}

.Second_Article_violet h1 {
  color: #fff;
  font-size: 46px;
  padding-top: 4em;
}
.Second_Article_violet p {
  color: #fff;
  width: 87%;
  font-size: 18px;
  margin-top: 7%;
  line-height: 1.4;
}

.Second_Article_violet button {
  background: #70c217;
  color: #fff;
  border: none;
  padding: 4% 9%;
  border-radius: 60px;
  margin-top: 10%;
}

.Third_Home_Section {
  margin-top: 15%;
  margin-bottom: -4px;
}

.Text_Supported {
  text-align: center;
}
.Text_Supported h1 {
  font-size: 55px;
  color: #272d4e;
}

.Text_Supported p {
  font-size: 18px;
  color: #94a2b3;
  margin-top: 2%;
  line-height: 1.5;
}

.People_Foto {
  width: 98%;
  margin-left: 2%;
  margin-top: 3%;
}

/* login Style_____________ */
.google-login a {
  width: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.google-btn {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: baseline;
  align-items: center;
  width: 70%;
  height: 8vh;
  border: 2px solid black;
  border-radius: 40px;
}
.google-btn img {
  width: 20%;
  margin-top: 20%;
  transition: width 2s, height 2s, transform 2s;
}

.section-login {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(236, 240, 253, 0) 0%,
    rgba(236, 240, 253, 0.53) 14.32%,
    #ecf0fd 45.83%,
    rgba(236, 240, 253, 0.43) 84.33%,
    rgba(236, 240, 253, 0) 100%
  );
  text-decoration: center;
}
.login-title {
  font-size: 4rem;
  text-align: center;
  width: 25%;
  margin-left: 37.5%;
  margin-bottom: 5%;
  margin-top: 10%;
}

.div-img {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: -35%;
  margin-bottom: 20%;
}
.div-img img:nth-of-type(1) {
  margin-left: 45%;
  margin-bottom: 10%;
}
.div-img img:nth-of-type(2) {
  margin-left: -46%;
}
.google-login {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 40%;
  box-shadow: 0px 26px 37px rgba(13, 22, 36, 0.363055);
  border-radius: 16px;
  margin-left: 30%;
}
.display-none .img1 {
  position: relative;
  position: absolute;
  left: 20%;
  top: 40%;
}
.display-none .img2 {
  position: relative;
  position: absolute;
  left: 72%;
  top: 38%;
}
.display-none .img3 {
  position: relative;
  position: absolute;
  left: 83%;
  top: 67%;
}
.display-none .img4 {
  position: relative;
  position: absolute;
  left: 72%;
  top: 110%;
}
.display-none .img5 {
  position: relative;
  position: absolute;
  left: 18%;
  top: 106%;
}
.display-none .img6 {
  position: relative;
  position: absolute;
  left: 6%;
  top: 66%;
}
.google-login h1 {
  margin-top: 10%;
  font-size: 3rem;
  margin-bottom: 5%;
}
.google-login img {
  margin-bottom: 20%;
}

.btn-text {
  color: inherit;
  font-size: 25px;
}
.google-btn:hover {
  box-shadow: 0 0 20px gray;
}
.google-btn:hover img {
  transform: rotate(360deg);
}

.google-btn:active {
  background: linear-gradient(
    180deg,
    rgba(236, 240, 253, 0) 0%,
    rgba(236, 240, 253, 0.53) 14.32%,
    #ecf0fd 45.83%,
    rgba(236, 240, 253, 0.43) 84.33%,
    rgba(236, 240, 253, 0) 100%
  );
}

.form-input {
  width: 250px;
  padding: 20px;
  background: #fff;
  border: 2px dashed #5f37ef;
}
.center input {
  display: none;
}
.preview img {
  width: 100%;
  display: none;
  margin-top: 10px;
}
@media only screen and (max-width: 1500px) {
  .login-title {
    font-size: 3rem;
  }
  .div-img img:nth-of-type(2) {
    margin-left: -49%;
  }
  .div-img {
    margin-top: -43%;
  }
}
@media only screen and (max-width: 1350px) {
  .login-title {
    font-size: 2.5rem;
  }
  .div-img img:nth-of-type(2) {
    margin-left: -52%;
  }
  .div-img {
    margin-top: -50%;
  }
}
@media only screen and (max-width: 1200px) {
  .google-login {
    height: 60vh;
    width: 70%;
    margin-left: 15%;
  }
  .div-img img:nth-of-type(2) {
    margin-left: -80%;
  }
  .div-img img:nth-of-type(1) {
    margin-left: 76%;
  }
  .display-none .img4 {
    left: 72%;
    top: 95%;
  }
  .display-none .img5 {
    position: relative;
    position: absolute;
    left: 18%;
    top: 93%;
  }
}
@media only screen and (max-width: 1024px) {
  .login-title {
    font-size: 2rem;
  }
  .google-login {
    height: 65vh;
    width: 90%;
    margin-left: 5%;
  }
  .google-btn {
    width: 70%;
    height: 10vh;
  }
  .div-img img:nth-of-type(2) {
    transform: rotate(90deg);
    margin-top: 63%;
    margin-left: -60%;
  }
  .div-img img:nth-of-type(1) {
    transform: rotate(90deg);
    margin-top: -50%;
    margin-right: 7%;
  }
  .display-none .img4 {
    left: 57%;
    top: 10%;
  }
  .display-none .img5 {
    left: 68%;
    top: 10%;
  }
  .display-none .img1 {
    left: 11%;
    top: 10%;
  }
  .display-none .img2 {
    left: 25%;
    top: 10%;
  }
  .display-none .img3 {
    left: 37%;
    top: 10%;
  }
  .display-none .img6 {
    left: 81%;
    top: 10%;
  }
  .login-title {
    margin-top: 25%;
  }
}
@media only screen and (max-height: 768px) {
  .div-img img:nth-of-type(2) {
    margin-top: 45%;
    margin-left: -60%;
  }
  .div-img img:nth-of-type(1) {
    margin-top: -29%;
    margin-right: 7%;
  }
  .google-btn {
    width: 70%;
    height: 14vh;
  }
  .google-login {
    height: 85vh;
  }
}
@media only screen and (max-width: 768px) {
  .login-title {
    font-size: 2rem;
    width: 50%;
    margin-left: 25%;
    padding-top: 5%;
    margin-bottom: 10%;
  }
  .google-login {
    height: 65vh;
    width: 90%;
    margin-left: 5%;
  }
  .google-btn {
    width: 70%;
    height: 10vh;
  }
  .div-img img:nth-of-type(2) {
    margin-top: 61%;
    margin-left: -60%;
  }
  .div-img img:nth-of-type(1) {
    margin-top: -55%;
    margin-right: 7%;
  }
  .display-none .img4 {
    left: 57%;
    top: 10%;
  }
  .display-none .img5 {
    left: 68%;
    top: 10%;
  }
  .display-none .img1 {
    left: 11%;
    top: 10%;
  }
  .display-none .img2 {
    left: 25%;
    top: 10%;
  }
  .display-none .img3 {
    left: 37%;
    top: 10%;
  }
  .display-none .img6 {
    left: 81%;
    top: 10%;
  }
  .login-title {
    margin-top: 25%;
  }
}
@media only screen and (max-width: 414px) {
  .login-title {
    font-size: 2rem;
    width: 70%;
    margin-left: 15%;
    padding-top: 30%;
    margin-bottom: 10%;
  }
  .display-none img {
    width: 15%;
  }
  .display-none .img1 {
    left: 5%;
    top: 10%;
  }
  .display-none .img2 {
    left: 19%;
    top: 10%;
  }
  .display-none .img3 {
    left: 31%;
    top: 10%;
  }
  .display-none .img4 {
    left: 46%;
    top: 10%;
  }
  .display-none .img5 {
    left: 63%;
    top: 10%;
  }
  .display-none .img6 {
    left: 80%;
    top: 10%;
  }
  .div-img img:nth-of-type(2) {
    margin-top: 86%;
    width: 15%;
    margin-left: -60%;
  }
  .div-img img:nth-of-type(1) {
    margin-top: -88%;
    width: 10%;
    margin-right: 22%;
  }
  .google-login {
    height: 65vh;
    width: 95%;
    margin-left: 2.5%;
  }
  .google-btn {
    width: 100%;
    height: 13vh;
  }
  .google-login a {
    width: 90%;
  }
}

/* _____________MarktPlatz________ */
#Produkt_img {
  height: 30vh;
  width: 30%;
  margin-bottom: 10%;

  border-radius: 20px;
}

.div-Item {
  padding-top: 2em;
}
.div-price {
  margin-left: 6%;
  padding-top: 2em;
  padding-right: 8%;
  color: #a9a9a9;
}

.article-Item {
  display: grid;
  grid-template-columns: 80%;
  margin-bottom: 5%;
  margin-left: 15%;
  color: #a9a9a9;
}
.section-Item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #d1d1d1;
  background: #f1f6ff;
  margin-bottom: 3em;
  height: 30vh;
  line-height: 2;
  border-radius: 20px;
}
.article-titel td:nth-last-of-type(1) {
  padding-left: 2em;
}
.section-Item h2 {
  color: #000;
}
.section-Item td {
  font-size: 18px;
}
.section-Item h3 {
  font-size: 20px;
}
.section-Item p {
  font-size: 18px;
  margin-bottom: 10px;
}

.Fresheness_element,
.stock_element {
  color: #6a983c;
  padding-left: 16px;
}

.Detail_Product_a {
  background: #7854f7;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.Favorite_button {
  margin-top: 2em;
  background: #f5f5f5;
  color: #000;
  height: 4vh;
  padding: 13px 10px;
  border-radius: 10px;
  display: flex;
  border: 1px solid #5f37ef;
}
.Favorite_button img {
  margin-right: 10px;
}

.name_Title {
  font-size: 3em;
}
.div-detail {
  background: #7b5bf055;
  width: 50%;
  line-height: 2;
  padding-left: 2em;
  height: 30vh;
}
.div-detail p {
  margin-bottom: 10px;
}

.body_details {
  display: flex;
  justify-content: space-between;
}
.container-image img {
  height: 80vh;
  padding-right: 5em;
}

.table-detail td:nth-last-of-type(1) {
  padding-left: 2em;
}
.desc-detail {
  line-height: 2;
  width: 50%;
  padding-left: 2em;
}
.desc-detail h3 {
  color: red;
}
.desc-detail h1 {
  font-size: 2em;
  line-height: 1.3;
  margin: 15px 0;
}
.desc-detail p {
  margin-bottom: 10px;
}
.desc-detail h4 {
  line-height: 1.4;
  width: 95%;
  padding-bottom: 2em;
}
.reservieren {
  background: #957de9;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}
/* ______________Footer____________ */

#Text_Footer {
  background: #5f37ef;
  min-height: 24vh;
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
}
.Text_Footer h2 {
  color: #fff;
  padding: 1% 3%;
  width: 40%;
  height: 2vh;
  font-size: 36px;
  line-height: 1.8;
  font-weight: bold;
}
.Text_Footer span {
  font-weight: 99;
}

.Text_Footer h3 {
  background: #5f37ef;
  border: 1px solid #fff;
  color: #fff;
  padding: 1% 3%;
  margin-top: 3%;
  border-radius: 60px;
  height: 2vh;
}
.Text_Footer a {
  color: #fff;
}

.Footer_Section {
  background: #7854f7;
  min-height: 80vh;
}

.Ring_Foto {
  margin-left: 80%;
  margin-top: -4%;
  margin-bottom: 4%;
}

.Figure_Footer {
  display: flex;
  align-items: center;
}
.Figure_Footer h3 {
  color: #fff;
  font-size: 20px;
  margin-left: 18px;
  font-weight: 99;
}
.Figure_Footer span {
  font-weight: bold;
}
.Footer_Scloss {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #9a7dff;
  padding-bottom: 15%;
  margin: 0 7%;
}

.Article_Footer {
  color: #fff;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  width: 70%;
  margin-left: 24%;
  margin-top: 6%;
}
.Article_Footer a {
  color: #fff;
}
.Article_Footer li {
  margin-top: 10px;
}
@media only screen and (max-width: 1149px) {
  #Text_Footer {
    min-height: 40vh;
  }
  .Footer_icons {
    flex-direction: column;
    width: 90%;

    padding-bottom: 3%;
    padding-top: 2%;
  }
  .Footer_icons ul {
    margin-bottom: 3%;
  }
}
@media only screen and (max-width: 765px) {
  #Text_Footer {
    flex-direction: column;
  }
  .Text_Footer h2 {
    padding: 1% 3%;
    width: 90%;
    margin-left: 5%;

    font-size: 30px;

    font-weight: bold;
  }

  .Text_Footer h3 {
    text-align: center;

    width: 40%;
    margin-left: 5%;
    margin-top: -10%;
  }
  .Footer_Scloss {
    flex-direction: column;
  }
  .Footer_Scloss .Figure_Footer {
    margin-bottom: 3%;
  }
  .Article_Footer {
    grid-template-columns: 40% 40%;
  }
}
@media only screen and (max-width: 500px) {
  .Article_Footer {
    grid-template-columns: 50%;
  }
  .Article_Footer div {
    margin-bottom: 25%;
  }
  .Text_Footer h3 {
    margin-top: 25%;
  }
  .Footer_icons ul {
    width: 60%;
  }
  .Footer_icons h4 {
    margin-left: 10%;
    text-align: center;
  }
}

/* ___FooterIcons________ */
.Footer_icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-bottom: 3%;
  padding-top: 2%;
}

.Footer_icons ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.Footer_icons h4 {
  color: #272d4e;
  font-size: 16px;
}
.Footer_icons span {
  text-decoration: underline;
}

/* ProfileSeiteStyle_____________ */
.div-googleLogin {
  display: flex;
  flex-direction: column;
}
.div-googleLogin article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div-googleLogin img {
  clip-path: circle();
  width: 25%;
}
/* PROFILESTYLE_______________ */

.section-form {
  font-size: 25px;
  min-height: 100vh;
  width: 95%;
  margin-left: 2.5%;
  margin-top: 5%;
  display: flex;
  border-top: 2px solid #9a7dff;
  border-bottom: 2px solid #9a7dff;
  padding-bottom: 4%;
}
.anzeigenType {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  margin-left: 10%;
  margin-right: 20%;
  display: flex;
  justify-content: space-between;
  height: 90vh;
  border: 2px solid #9a7dff;
  margin-top: 5%;
  background: rgba(95, 55, 239, 0.1);
  flex-direction: column;
}
.table-input {
  border: none;
  border: 1px solid #9a7dff;
  border-radius: 5px;
  height: 3vh;
  margin-bottom: 3%;
}

.profile-table {
  display: flex;
  justify-content: space-between;
}
.biete-div {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  color: inherit;
  margin-bottom: 5%;
}
.erst-inputDiv {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
}
.form-radio {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.profile-table {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

.article-input {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.anzeigenType div:nth-of-type(1) {
  margin-top: 15%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.anzeigenType div:nth-of-type(2) {
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.erst-inputDiv input:nth-of-type(1) {
  border: none;
  border: 1px solid #9a7dff;
  border-radius: 5px;
  height: 3vh;
}
.preis_input {
  border: none;
  border: 1px solid #9a7dff;
  border-radius: 5px;
  height: 3vh;
}
.section-form textarea {
  border: none;
  border: 1px solid #9a7dff;
  border-radius: 5px;
  height: 8vh;
  margin-top: 8%;
}
.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  height: 20vh;
}
.preview {
  width: 50%;
}
.imgHedden-form {
  width: 300px;
  height: 200px;
}
.bilder-hinzufügen {
  background: #1a88ee;
  color: #fdfdfd;
  border-radius: 10px;
}
.bilder-hinzufügen {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  height: 5vh;
  align-items: center;
  margin-top: 4%;
}
.section_kath {
  height: 20vh;
  border-bottom: 2px solid #9a7dff;
  width: 95%;
  margin-left: 2.5%;
}
.section_kath h2 {
  margin-left: 12.5%;
  margin-top: 2%;
}
.div-kath {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-left: 5%;
  font-size: 24px;
  height: 16vh;
}
.div-kath select {
  height: 3vh;
  width: 15vh;
  border: none;
  border: 1px solid #9a7dff;
  border-radius: 5px;
  background: rgba(95, 55, 239, 0.1);
}
.section_ort input {
  height: 3vh;
  border: none;
  border: 1px solid #9a7dff;
  border-radius: 5px;
}
.section_ort {
  margin-left: 12.5%;
  margin-top: 2%;
  height: 30vh;
  width: 85%;
}
.div-plz {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  width: 60%;
  font-size: 24px;
  margin-top: 2%;
  margin-left: 1.5%;
}
.div-plz div {
  display: flex;
}
.div-plz div input:nth-of-type(2) {
  width: 35vh;
}
.div-strass {
  display: flex;
  justify-content: space-around;
  width: 60%;
  font-size: 24px;
  margin-top: 1%;
  margin-left: 0.6%;
}
.div-strass input {
  width: 48.6vh;
}
.div-strass2 {
  display: flex;
  justify-content: space-around;
  width: 60%;
  font-size: 24px;
  margin-top: 1%;
  margin-left: 1%;
}
.div-strass2 input {
  width: 48.7vh;
  margin-left: 2%;
}
.div-Telefonnummer {
  display: flex;
  justify-content: space-around;
  width: 60%;
  font-size: 24px;
  margin-top: 1%;
}
.div-Telefonnummer input {
  width: 49vh;
  margin-left: -1.5%;
}
.input-Send {
  margin-left: 50%;
  border: 2px solid #9a7dff;
  border-radius: 20px;
  padding: 20px 100px;
  font-size: 25px;
  background: rgba(95, 55, 239, 0.1);
  margin-bottom: 5%;
  margin-top: 3%;
}
.input-Send:hover {
  color: #f5f5f5;
  background-color: #9a7dff;
}
.bietForm {
  border-bottom: 2px solid #9a7dff;
}
.anzeigenType-none {
  margin-bottom: 3%;
  margin-top: 4%;

  width: 30%;
  font-size: 20px;
  display: none;
}

@media only screen and (max-width: 1350px) {
  .anzeigenType {
    margin-left: 3%;
    font-size: 20px;
  }
  .div-plz {
    flex-direction: column;
    margin-left: 0;
  }
  .div-strass {
    flex-direction: column;
    margin-left: 0;
  }
  .div-strass input {
    width: 48.1vh;
  }
  .div-strass2 {
    flex-direction: column;
    margin-left: 0;
  }
  .div-strass2 input {
    width: 48.1vh;
    margin-left: 0%;
  }
  .div-Telefonnummer {
    flex-direction: column;
    margin-left: 0;
  }
  .div-Telefonnummer input {
    width: 48.1vh;
    margin-left: 0;
  }
}
@media only screen and (max-width: 1120px) {
  .anzeigenType {
    padding-left: 2%;
    padding-right: 2%;
  }
  .Input_Title {
    margin-top: -4%;
  }
  .form-radio {
    margin-top: 9%;
  }
  .profile-table input {
    margin-bottom: 5%;
  }
  .anzeigenType div p:nth-of-type(2) {
    margin-top: -20%;
  }
  @media only screen and (max-width: 1069px) {
    .anzeigenType-none {
      display: unset;
      padding-bottom: 3%;
    }
    .anzeigenType {
      display: none;
    }
    .article-input {
      margin-left: 20%;
    }
    .erst-inputDiv {
      margin-top: -3%;
    }
    .erst-inputDiv textarea {
      margin-top: -4%;
    }
    .form-radio {
      margin-top: -5%;
      margin-bottom: 3%;
    }
    .profile-table {
      margin-top: -1%;
    }
    .profile-table input {
      margin-top: -4%;
    }
    .profile-table .anzeigenType-none:nth-of-type(2) {
      margin-top: -4%;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .section-form {
    font-size: 20px;
  }
  .input-Send {
    margin-left: 12%;
    padding: 10px 60px;
  }
  .article-input {
    margin-left: 12%;
  }
  .div-plz div input:nth-of-type(2) {
    margin-left: 10%;
  }
}
@media only screen and (max-width: 800px) {
  .div-plz div input:nth-of-type(2) {
    width: 50vh;
  }
  .div-plz {
    width: 81%;
  }
}
.article-input {
  margin-left: 5%;
}
@media only screen and (max-width: 690px) {
  .article-input {
    margin-left: 5%;
  }
  .div-kath {
    flex-direction: column;
    height: 50%;
  }
}
@media only screen and (max-width: 620px) {
  .article-input {
    margin-left: 2%;
  }
  .section_ort {
    margin-left: 2%;
  }
  .Input_Title {
    width: 90%;
  }
  .Text_area {
    width: 90%;
  }
  .preis_input {
    width: 10%;
  }
  .form-input {
    width: 83%;
  }
  .table-input {
    width: 90%;
  }
  .biete-div {
    width: 70%;
  }
  .div-strass input,
  .div-strass2 input,
  .div-Telefonnummer input {
    width: 135%;
  }
}
@media only screen and (max-width: 418px) {
  .bilder-hinzufügen {
    font-size: 15px;
  }
  .div-strass input,
  .div-strass2 input,
  .div-Telefonnummer input {
    width: 166%;
  }
  .input-Send {
    margin-top: 20%;
  }
  .article-input {
    padding-bottom: 8%;
  }
  .section_kath {
    margin-top: 10%;
  }
}
.Registriere_Nav2 {
  display: none;
}
/* ______________burger________ */
.Burger {
  display: none;
}
.Hamburger_menu {
  width: 35px;
  height: 35px;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.line {
  width: 100%;
  height: 3px;
  background-color: #9a7dff;

  /* background: orange; */
  transition: all 0.8s;
}
.change .line1 {
  transform: rotate(-405deg) translate(-10px, 6px);
}
.change .line2 {
  opacity: 0;
}
.change .line3 {
  transform: rotate(405deg) translate(-10px, -6px);
}
@media only screen and (max-width: 1200px) {
  .Navigation {
    overflow-x: hidden;
  }
  .Burger {
    display: block;
  }
  .Registriere_Nav2 {
    display: unset;
  }

  .Ul_Nav {
    position: absolute;
    right: 0px;
    top: 8vh;
    height: 92vh;
    background: rgba(95, 55, 239);
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(0%);
    z-index: 1;
  }
  .Ul_Nav li:hover {
    border-bottom: 3px solid #ffffff;
  }
  .nav-active {
    transform: translateX(100%);
    transition: all 0.8s;
  }

  .Div_LogIn {
    display: none;
  }
  .logo_nothing {
    height: 3vh;
    width: 80%;
  }
}
@media only screen and (max-width: 1320px) {
  .Footer_icons {
    width: 90%;
  }
}
